* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#app > section.el-container {
    height: 100%;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.p0 {
    padding: 0;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.h-full {
    height: 100%;
    position: absolute;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.za-header {
    border-bottom: solid 1px #e6e6e6;
}

.za-main {
    padding: 0;
    margin: 20px;
    position: relative;
}

.za-aside-menu {
    height: 100%;
}

.za-footer {
    border-top: solid 1px #e6e6e6;
}

.za-main .el-header .el-col:after,
.za-main .el-footer .el-col:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.za-main .el-header .el-col,
.za-main .el-footer .el-col {
    height: 100%;
}

.za-main .el-header .el-col > *,
.za-main .el-footer .el-col > * {
    vertical-align: middle;
    display: inline-block;
}

.el-table .cell .el-button--text {
    padding-top: 0;
    padding-bottom: 0;
}
